.form{
    display: flex;
    flex-direction: column;
    background-color: var(--form-bg);
    height: 55vh;
    align-items: center;
    justify-content: center;
    position: relative;
}
.form div{
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}