.label{
    display: flex;
    justify-content: space-between;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    align-items: center;
}
.input{
    width: 35px;
    height: 35px;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    text-align: center;
    background-color: var(--page-bg);
    border: none;
    color: var(--button-bg);
}
.submit{
    position: absolute;
    width: 220px;
    height: 220px;
    border: none;
    cursor: pointer;
    left: -180px;
    bottom: -130px;
    box-shadow: 3px 3px 15px rgba(0,0,0,.5);
    transition: all 1s;
    background: url("./calculator.svg") var(--button-bg);
    background-size: 200px 200px;
    background-repeat: no-repeat;
    background-position: center center;
}
.submit:hover{
    box-shadow: none;
    transition: all 1s;
}
.submit input{
    display: none;
}