.header {
  height: 10.35vh;
  background-color: var(--header-bg);
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapperAddon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1300px;
}
.title {
  color: var(--form-bg);
  font-size: 50px;
  font-family: "Open Sans", sans-serif;
}

.menu {
  display: flex;
}

.semester {
  cursor: pointer;
  padding: 8px 15px;
  margin: 0 10px;
  color: black;
  text-decoration: none;
}

.semester:hover {
  background: black;
  color: white;
}

.semester.active {
  background: black;
  color: white;
  cursor: default;
}

@media screen and (max-width: 1325px) {
  .wrapperAddon {
    width: 80%;
  }
}
